@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);


@font-face {
	font-family: MyCustomFont;
	src: url(../../fonts/bs.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	border: none;
	list-style: none;
	background: 0 0
}

button {
	cursor: pointer
}

ul>li>a {
	font-family: MyCustomFont;
	font-style: normal;
	font-weight: 467;
	font-size: 32px;
	line-height: 54px;
	color: #fff
}

.h2 {
	font-family: MyCustomFont;
	font-style: normal;
	font-weight: 467;
	font-size: 32px;
	line-height: 54px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

h2 {
	font-family: "Montserrat Alternates", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;
	color: #fff;
	max-width: 684px
}

h3 {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	color: #fff;
	text-transform: uppercase
}

h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	color: #fff
}

h6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #fff
}

p {
	font-family: "Montserrat Alternates", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #fff
}

body,
html {
	background: #000
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: Montserrat, sans-serif
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto
}

.header__marg {
	height: 119px
}

/*---------------------header--------------------*/

.header {
	position: fixed;
	z-index: 3;
	display: flex;
	width: 100%;
	height: 120px;
	padding: 35px 0 31px;
	justify-content: center;
	background: #000;
}

.header__wrapper {
	display: flex;
	width: 100%;
	max-width: 1483px;
	margin-left: 40px;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	order: 1;
	display: flex;
	width: 219px;
	height: 54px;
	align-items: center;
}

.header__logo-image {
	width: 100%;
}

.header__navigator {
	order: 2;
	width: 100%;
	max-width: 844px;
}

.header__close-img {
	display: none;
	width: 24px;
	height: 24px;
}

.header__close-img:active {
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.header__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}

.header__link a {
	font-family: MyCustomFont, sans-serif;
	font-weight: 467;
	font-size: 22px;
	text-align: center;
	color: #fff;
}

.header__link a:hover {
	color: #f0b600;
}

.header__link-account {
	display: block;
	width: 27px;
	height: 32px;
	background: url('../../img/account.svg') center/cover no-repeat;
}

.header__menu {
	order: 4;
	display: none;
	width: 40px;
	height: 35px;
	cursor: pointer;
}

.header__menu-img {
	width: 100%;
}

.header__search {
	order: 3;
	position: relative;
	width: 100%;
	max-width: 355px;
	border: #ffd61e 1px solid;
	border-radius: 10px;
}

.header__input {
	width: 100%;
	height: 50px;
	padding: 11px 9px 15px 36px;
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #fcf5ef;
}

.header__search-btn {
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	top: 9px;
	right: 9px;
	background: url('../../img/search.svg');
}

@media (max-width: 1497px) {
	.header {
		padding: 12px 32px 14px;
	}

	.header__logo {
		height: 50px;
	}

	.header__wrapper {
		height: 94px;
		margin: 0;
		flex-wrap: wrap;
		justify-content: center;
		gap: 12px;
	}

	.header__search {
		order: 2;
		height: 50px;
	}

	.header__navigator {
		order: 3;
	}

	.header__links {
		justify-content: space-between;
		gap: 18px;
	}
}

@media (max-width: 862px) {
	.header__link a {
		font-size: 20px;
	}
}

@media (max-width: 790px) {
	.header__links {
		gap: 3px;
	}
}

@media (max-width: 768px) {
	.header__search {
		max-width: 144px;
	}

	.header__links {
		justify-content: space-between;
		gap: 0;
	}

	.header__input {
		padding: 12px 9px 14px 9.5px;
	}
}

@media (max-width: 705px) {
	.header {
		height: 126px;
		padding: 16px 20px;
	}

	.header__wrapper {
		justify-content: space-between;
		gap: 8px;
	}

	.header__logo {
		width: 100%;
		height: 34px;
	}

	.header__logo-image {
		width: 134px;
		margin: 0 auto;
	}

	.header__navigator {
		z-index: 3;
		position: absolute;
		display: none;
		width: 270px;
		height: 500px;
		left: -270px;
		top: 0;
		padding: 73px 95px 90px 28px;
		background-color: black;
	}

	@keyframes menuAnimationShow {
		from {
			left: -270px
		}

		50% {
			left: -135px
		}

		to {
			left: 0
		}
	}

	@keyframes menuAnimationHide {
		from {
			left: 0
		}

		50% {
			left: -135px
		}

		to {
			left: -270px
		}
	}

	.open-menu {
		display: block;
		animation: menuAnimationShow 0.5s ease-in forwards;
	}

	.close-menu {
		display: block;
		animation: menuAnimationHide 0.5s ease-out forwards;
	}

	.header__links {
		margin-top: 21px;
		flex-direction: column;
		gap: 18px;
	}

	.header__close-img {
		display: block;
	}

	.header__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 120%;
		color: #d6d6d6;
	}

	.header__menu {
		order: 2;
		display: block;
	}

	.header__search {
		order: 3;
	}
}

/*---------------------header end--------------------*/

.about {
	gap: 64px;
	max-width: 100%;
	min-height: 770px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start
}

/* #about .swiper-slide {
	background-image: url(../img/image.jpg);
	background-size: cover
} */

.about hr {
	border-top: 4px solid #fff;
	width: 200px
}

.about a {
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 40px;
	gap: 20px;
	width: 440px;
	height: 99px;
	background: #ffd61e;
	border-radius: 10px
}

.slider__swiper {
	position: relative;
}
.swiper {
	width: 100%;
	max-width: 553px;
	max-height: 553px;
	margin: 0;
	border: 2px solid #212125;
	border-radius: 20px;
}

.swiper-slide {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-image {
	width: 100%;
	height: 100%;
}

.swiper-pagination {
	--swiper-pagination-bottom: -45px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 12px;
	--swiper-pagination-bullet-width: 20px;
	--swiper-pagination-bullet-size: 20px;
	--swiper-pagination-bullet-inactive-color: #ffd61e;
	--swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-pagination-bullet-active {
	--swiper-pagination-color: #fff;
}

#new {
	padding: 60px 0 90px
}

#new h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	max-width: unset;
	margin-bottom: 40px
}

.new {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 40px
}

.car_card {
	display: block;
	width: 440px;
	max-width: 440px;
	height: 591px;
	border-radius: 20px;
	overflow: hidden;
	position: relative
}

.car_img {
	height: 433px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	overflow: hidden
}

.car_img img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%
}

.car_name {
	width: 100%;
	height: 158px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 2px solid #ffd61e;
	border-radius: 0 0 20px 20px
}

/*--------------footer--------------*/
.footer {
	padding: 40px 0 40px;
}

.footer__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer__links {
	display: flex;
	margin: 40px 0 26px;
	align-items: center;
	gap: 60px;
}

.footer__link a {
	font-family: MyCustomFont, sans-serif;
	font-weight: 467;
	font-size: 32px;
	text-align: center;
	color: #fff;
}

.footer__link a:hover {
	color: #ffd61e;
}

.footer__info {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.footer__address {
	width: 327px;
	font-family: MyCustomFont, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #ffd61e;
}

@media (max-width: 1028px) {
	.footer__address:nth-child(1) {
		display: none;
	}
}

@media (max-width: 668px) {
	.footer__info {
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}

	.soc_link {
		align-self: center;
	}

	.footer__address {
		width: 320px;
	}
}

.soc_link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 64px
}

/*-----------footer end----------*/

.about_us {
	display: flex;
	flex-direction: column;
	margin: 177px 0 50px;
	gap: 20px;
}

.car_div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 48px
}

#preim {
	padding: 50px 0 80px
}

#preim h2 {
	padding-bottom: 68px
}

.preim {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 20px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.preim_info .preim_box {
	width: 339px;
	height: 120px;
	gap: 5px
}

.preim_info .preim_box p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #fff
}

.preim_info .preim_box h6 {
	font-size: 32px;
	text-transform: none
}

.preim_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 20px 24px;
	gap: 12px;
	border: 1px solid #ffd61e;
	border-radius: 20px;
	width: 458px;
	height: 218px
}

.preim_info .preim_box.pr {
	width: 23.333%
}

.pr,
.preim_info .preim_box.pr2 {
	width: 32.333%
}

.pr2 {
	width: 49%
}

.pr3 {
	width: 100%
}

.input_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 20px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.input_box {
	width: 100%;
	max-width: 49%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 5px
}

.input_box label,
.text_box label {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #7b6d6d
}

.input_box input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 36px 32px;
	height: 92px;
	border: 1px solid #c5c6cc;
	border-radius: 12px;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 20px
}

.car_img_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 50px;
	width: 100%;
	margin: 40px 0 60px
}

.adder_img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 10px;
	width: 100%
}

.adder_img div img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 15px
}

.adder_img div {
	position: relative;
	width: 370px;
	height: 264px
}

.text_box textarea {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 36px 32px;
	height: 620px;
	border: 1px solid #c5c6cc;
	border-radius: 12px;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 20px;
	width: 100%;
	resize: none
}

.add_car button {
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #000;
	border: 1px solid #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 20px;
	width: 539px;
	height: 89px;
	background: #ffd61e;
	border-radius: 10px;
	margin: 40px auto 0
}

.faq_container {
	margin: 0 auto;
	font-family: Arial, sans-serif;
	color: #fff;
	background-color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px
}

.faq-item {
	border: 2px solid #ffd61e;
	border-radius: 14px
}

.faq-question {
	padding: 15px 35px 15px 15px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 5px
}

.faq-question p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 28px;
	color: #fff
}

.faq-answer {
	padding: 0 15px 45px;
	max-width: 90%;
	display: none
}

.toggle-icon {
	font-size: 20px;
	color: #f0b600;
	-webkit-transition: .3s;
	transition: .3s
}

.faq-question.active .toggle-icon {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: .3s;
	transition: .3s
}

#faq {
	padding: 60px 0 20px
}

#faq h2 {
	color: #f0b600;
	font-family: Montserrat, sans-serif;
	font-size: 64px;
	font-weight: 500;
	margin-bottom: 50px
}

.contact_h2 {
	margin: 0 auto 10px;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 64px;
	font-weight: 500
}

#contact {
	padding: 60px 0 20px
}

.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	gap: 48px
}

.left_contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 100px
}

.text_box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px
}

.text_box h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	color: #c9c9c9;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	-ms-flex-positive: 0;
	flex-grow: 0
}

.text_box h3 {
	font-style: normal;
	font-weight: 467;
	font-size: 36px;
	line-height: 61px;
	text-transform: none;
	color: #fff;
	font-family: MyCustomFont
}

.right_contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px
}

#auth {
	padding-bottom: 50px
}

#auth h2 {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	margin: 0 0 20px;
	text-align: start
}

.auth {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 20px
}

.left_auth {
	width: 100%;
	max-width: 796px
}

.consult form,
.left_auth form {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 40px
}

.consult form p {
	color: #7b6d6d
}

.form_input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 10px;
	width: 100%
}

.form_input input,
.form_input label,
.form_input select {
	width: 100%
}

.form_input label {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #7b6d6d
}

.form_input input,
.form_input select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 92px;
	border: 1px solid #c5c6cc;
	border-radius: 12px;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	line-height: 20px;
	padding: 0 20px
}

.form_input select option {
	color: #000
}

.auth_btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 89px;
	background: #ffd61e;
	border-radius: 10px;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #000
}

.auth_btn_two {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 89px;
	background: #080f33;
	border-radius: 10px;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 49px;
	color: #fff
}

.right_auth {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.filter-block {
	color: #fff
}

.catalog_title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 50px;
	margin-bottom: 30px
}

.catalog_title h2 {
	text-align: start;
	margin: 0;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	width: auto
}

.catalog_btn_none {
	display: none
}

.catalog_btn {
	border: 2px solid #ffd61e;
	border-radius: 14px;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 37px;
	color: #fff;
	width: 265px;
	height: 77px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.catalog_content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 40px
}

.auto_rec,
.catalog_container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 40px
}

.catalog_content .faq-question,
.catalog_content .faq_container {
	max-width: 318px;
	min-width: 318px
}

.catalog_content .faq-answer {
	padding-left: 20px
}

.catalog_content .faq-question p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #fff
}

.price-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.price-range span {
	padding: 10px 20px;
	border-radius: 50px;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #fff
}

.faq-answer input[type=range],
.faq-answer select {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ffc400;
	background-color: #333;
	color: #fff;
	height: 50px
}

.auto_rec .car_card,
.catalog_container .car_card {
	height: 509px;
	width: 318px
}

.auto_rec .car_card .car_img,
.catalog_container .car_card .car_img {
	height: 250px
}

.auto_rec .car_card .car_name,
.catalog_container .car_card .car_name {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 259px;
	padding: 12px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start
}

.auto_rec .car_card .car_name h3,
.catalog_container .car_card .car_name h3 {
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
	line-height: normal
}

.auto_rec .car_card .car_name .price,
.catalog_container .car_card .car_name .price {
	margin-top: 20px
}

.car_name p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #c6c6c6;
	margin-top: 16px
}

.krosh {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 5px;
	margin-top: 40px
}

.krosh a {
	color: #ffd61e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	font-size: 16px;
	font-weight: 600;
	background: 0 0;
	border: 3px solid #ffd61e;
	border-radius: 50px
}

.krosh .active {
	background: #ffd61e;
	color: #000
}

#auto_rec {
	padding: 0 0 40px
}

.auto_rec {
	margin-top: 40px
}

.car_card_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 178px
}

/* .myTwoSwiper {
	max-width: 553px;
	margin: 0
} */

.car_info_card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.car_info_card h1 {
	color: #fff;
	font-size: 64px;
	font-weight: 500;
	font-family: Montserrat;
	line-height: normal
}

.car_info_card h2 {
	line-height: normal;
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	font-family: Montserrat;
	margin-bottom: 30px
}

.car_info_card p {
	margin-bottom: 60px;
	line-height: normal;
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	font-family: Montserrat
}

.car_info_card a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px 40px;
	gap: 20px;
	border: 2px solid #ffd61e;
	border-radius: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 73px;
	color: #fff
}

@media (min-width:768px) and (max-width:1430px) {
	ul>li>a {
		font-size: 20px
	}

	h2 {
		font-size: 64px;
		line-height: 78px;
		max-width: 684px
	}

	.header ul {
		gap: 20px
	}

	.wrapper {
		padding: 0 20px
	}

	.logo_header img {
		height: 34px;
		width: 137px
	}

	.about {
		gap: 30px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		padding: 60px 0
	}

	.new {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		gap: 20px
	}

	.car_card {
		display: block;
		width: 354px;
		max-width: 354px;
		height: 591px
	}

	.footer ul li a {
		font-size: 32px
	}

	.car_img_content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	.adder_img {
		max-width: 90%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.car_card_info {
		gap: 20px
	}

	.preim_info .preim_box.pr2 {
		width: 31.333%;
		height: 150px
	}

	.preim_info .preim_box h6 {
		line-height: normal
	}

	.auto_rec {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.last {
		display: none
	}

	.auto_rec .car_card {
		min-width: 318px
	}

	.preim_box_onn .preim_box {
		width: 49%
	}

	.left_car {
		width: 40%;
		height: 503px;
		border-radius: 20px;
		overflow: hidden
	}

	.right_car {
		width: 60%;
		height: 503px;
		border-radius: 20px;
		overflow: hidden
	}

	.car_div img {
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
		height: 100%
	}

	.contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.left_contact {
		gap: 30px
	}

	.catalog_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
}

@media (max-width:1170px) {
	.search {
		width: 140px
	}

	.add_img {
		width: 100%;
		height: 553px;
		overflow: hidden;
		border-radius: 20px
	}

	.car_img_content {
		gap: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	.add_img img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover
	}

	.adder_img div {
		max-width: 318px;
		height: 264px
	}

	.adder_img div img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover
	}

	.input_box {
		max-width: 48%
	}

	.car_card_info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}

	.preim_info .preim_box.pr {
		width: 48.333%
	}

	.preim_info .preim_box.pr2 {
		width: 100%
	}

	.left_car {
		width: 38%;
		height: 503px;
		border-radius: 20px;
		overflow: hidden
	}

	.right_car {
		width: 58%;
		height: 503px;
		border-radius: 20px;
		overflow: hidden
	}

	.car_div img {
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
		height: 100%
	}

	.car_div {
		gap: 20px
	}

	.preim_box_onn .preim_box {
		width: 45%;
		height: 340px !important
	}

	.auth {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

@media (max-width:1075px) {
	.last {
		display: block
	}
}

@media (max-width:768px) {
	ul>li>a {
		font-size: 18px
	}

	h2 {
		font-size: 36px;
		line-height: 78px;
		max-width: 684px;
		line-height: normal
	}

	h3 {
		font-size: 36px
	}

	p {
		font-size: 16px
	}

	.header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px
	}

	.header ul {
		gap: 16px
	}

	.wrapper {
		padding: 0 18px
	}

	.about {
		gap: 20px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		padding: 40px 0;
		min-height: 520px
	}

	.new {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		gap: 20px
	}

	#new {
		padding: 40px 0
	}

	#new h2 {
		margin-bottom: 20px
	}

	.car_card {
		display: block;
		width: 320px;
		max-width: 320px;
		height: 457px
	}

	.car_img {
		height: 300px
	}

	.car_name {
		height: 158px
	}

	.footer ul li a {
		font-size: 32px
	}

	.footer ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px
	}

	.about a {
		font-size: 26px;
		width: 100%
	}

	.about a img {
		width: 45px
	}


	/*-----------WTF?---------*/
	.header ul,
	.mySwiper .swiper-pagination {
		display: none
	}

	.catalog_content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	.catalog_title {
		display: none
	}

	.catalog_btn_none {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}

	.ct_content {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.catalog_container {
		gap: 20px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.input_box {
		max-width: 100%
	}

	.add_car button {
		width: 100%;
		font-size: 24px
	}

	.adder_img div {
		width: 100%;
		max-width: unset
	}

	.car_info_card a {
		width: 100%;
		font-size: 24px;
		line-height: 55px
	}

	.car_info_card h1,
	.car_info_card h2 {
		font-size: 40px
	}

	.myTwoSwiper img {
		width: 100%;
		height: 100%
	}

	.auto_rec {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.car_card_info {
		gap: 50px
	}

	.preim_info .preim_box.pr {
		width: 100%
	}

	.preim_info .preim_box.pr2 {
		height: 150px
	}

	.preim_info .preim_box h6 {
		line-height: normal
	}

	.about_us h4 {
		font-size: 22px;
		line-height: 29px
	}

	.about_us {
		margin-top: 30px
	}

	.car_div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.left_car,
	.right_car {
		width: 100%;
		height: 503px;
		border-radius: 20px;
		overflow: hidden
	}

	.preim_box_onn .preim_box {
		width: 100%;
		height: auto !important
	}

	.faq-question p {
		font-size: 22px
	}

	#faq h2 {
		display: none
	}

	.contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.left_contact {
		gap: 30px
	}

	.text_box h3 {
		font-size: 28px
	}

	#contact {
		padding-top: 20px
	}

	.auth_btn,
	.auth_btn_two {
		font-size: 28px;
		width: 100%
	}

	.right_auth img {
		width: 100%
	}
}

@media (max-width:440px) {
	.about {
		height: 354px;
		min-height: 354px
	}

	.footer ul li a {
		font-size: 25px;
		gap: 15px
	}
}

.boxes input[type=checkbox] {
	font-size: inherit;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	white-space: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 1.1;
	max-width: none;
	outline: 0;
	min-width: 0;
	padding: 0
}

.boxes label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Montserrat, sans-serif;
	font-size: 20px
}

.boxes label:not(:last-child) {
	margin-bottom: 10px
}

.boxes input[type=checkbox] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 2px solid #ffd61e;
	border-radius: 8px;
	cursor: pointer;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 30px;
	height: 30px;
	margin-right: 10px
}

.boxes input[type=checkbox]:checked {
	background-color: #ffd61e
}

.boxes input[type=checkbox]:checked::before {
	display: block;
	content: "";
	width: 65%;
	height: 50%;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6953 1.78235L5.75338 9.69306C5.55728 9.88839 5.29115 10 5.01101 10C4.73087 10 4.46473 9.88839 4.26863 9.69306L0.304652 5.74468C-0.101551 5.34008 -0.101551 4.67039 0.304652 4.26578C0.710855 3.86118 1.38319 3.86118 1.78939 4.26578L5.01101 7.47471L12.2106 0.303453C12.6168 -0.101151 13.2891 -0.101151 13.6953 0.303453C14.1016 0.708057 14.1016 1.36379 13.6953 1.78235Z' fill='%23000000'/%3E%3C/svg%3E") center/contain no-repeat
}