#auto_rec {
	padding: 0 0 40px;
}

.auto_rec {
	margin-top: 40px;
}

.car_card_info {
	display: flex;
	align-items: center;
	gap: 178px;
}

.car_info_card {
	display: flex;
	flex-direction: column;
}


.car_info_card h1 {
	color: #fff;
	font-size: 64px;
	font-weight: 500;
	font-family: Montserrat, sans-serif;
	line-height: normal;
}

.car_info_card h2 {
  margin-bottom: 30px;
	font-family: Montserrat, sans-serif;
	font-size: 50px;
	font-weight: 500;
	line-height: normal;
	color: #fff;
}

.car_info_card p {
	margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
	font-weight: 600;
	line-height: normal;
	color: #fff;
}

.car_info_card a {
	display: flex;
  padding: 20px 40px;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 2px solid #ffd61e;
	border-radius: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 73px;
	color: #fff;
}

@media (min-width:768px) and (max-width:1430px) {
	.car_card_info {
		gap: 20px;
	}

	.auto_rec {
		justify-content: center
	}

	.auto_rec .car_card {
		min-width: 318px;
	}
}

@media (max-width:1170px) {
	.car_card_info {
		flex-direction: column-reverse;
	}
}

@media (max-width:768px) {

	.car_info_card p {
		display: inline-block;
		font-size: 24px;
		word-break: break-word;
	}

	.car_info_card {
		padding: 0 12px;
	}

	.car_info_card a {
		width: 100%;
		font-size: 24px;
		line-height: 55px;
	}

	.car_info_card h1,
	.car_info_card h2 {
		font-size: 40px;
	}

	.auto_rec {
		align-items: center;
		justify-content: center;
	}

	.car_card_info {
		gap: 50px;
	}
}