.car_card {
  display: block;
  position: relative;
  width: 440px;
  max-width: 440px;
  height: 591px;
  overflow: hidden;
  border-radius: 20px;
}

.car_img {
  display: flex;
  height: 433px;
  overflow: hidden;
  justify-content: start;
}

.auto_rec .car_card,
.catalog_container .car_card {
	height: 509px;
	width: 318px
}

.auto_rec .car_card .car_img,
.catalog_container .car_card .car_img {
	height: 250px;
}

.car_img img {
  object-fit: cover;
  width: 100%;
}

.car_name {
  display: flex;
  width: 100%;
  height: 158px;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffd61e;
  border-radius: 0 0 20px 20px;
}

.car_name p {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #c6c6c6;
	margin-top: 16px
}

.auto_rec .car_card .car_name,
.catalog_container .car_card .car_name {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 259px;
	padding: 12px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.auto_rec .car_card .car_name h3,
.catalog_container .car_card .car_name h3 {
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
	line-height: normal;
}

.car_img .heart {
	position: absolute;
	width: 40px;
	top: 21px;
	right: 21px;
}

.unmarked {
	content: url('../../img/heart.svg');
}

.marked {
	content: url('../../img/red_heart.svg');
}

.auto_rec .car_card .car_name .price,
.catalog_container .car_card .car_name .price {
	margin-top: 20px
}

@media (min-width: 768px) and (max-width: 1430px) {
  .car_card {
    display: block;
    width: 354px;
    max-width: 354px;
    height: 591px;
  }

  .auto_rec .car_card {
		min-width: 318px
	}
}

@media (max-width: 768px) {
  .car_card {
    display: block;
    width: 320px;
    max-width: 320px;
    height: 457px;
  }

  .car_img {
    height: 300px;
  }

  .car_name {
    height: 158px;
  }
}