.catalog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 21px;
}

.catalog_title {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.catalog_title h2 {
  width: auto;
  margin: 0;
  text-align: start;
  justify-content: start;
  align-items: start;
}

.catalog_btn {
  display: flex;
  width: 265px;
  height: 77px;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffd61e;
  border-radius: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  color: #fff;
}

@media (max-width: 1424px) {
	.catalog {
		margin: 0 15px 0;
	}
}

@media (max-width: 705px) {
  .catalog_title {
    display: none;
  }
}