.catalog_content {
	display: flex;
	width: 318px;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

.catalog_content .faq-answer {
	padding-left: 20px
}

.catalog_content .faq-question p,
.faq-item .faq-question p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #fff
}

.auto_rec,
.catalog_container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 40px
}
