.text_box label {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #7b6d6d
}

.contact_h2 {
	margin: 0 auto 10px;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 64px;
	font-weight: 500
}

#contact {
	padding: 170px 0 20px
}

.contact {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 48px;
}

.left_contact {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.text_box {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 20px;
}

.text_box h4 {
	flex-grow: 0;
	flex: none;
	order: 0;
	align-self: stretch;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	color: #c9c9c9;
}

.text_box h3 {
	font-style: normal;
	font-weight: 467;
	font-size: 36px;
	line-height: 61px;
	text-transform: none;
	color: #fff;
	font-family: MyCustomFont;
}

.right_contact {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (min-width:768px) and (max-width:1430px) {

	.contact {
		flex-direction: column;
	}

	.left_contact {
		gap: 30px;
	}
}

@media (max-width:767px) {

	.contact {
		padding: 0 20px;
		flex-direction: column;
	}

	.left_contact {
		gap: 30px;
	}

	.text_box h3 {
		font-size: 28px;
	}
}

@media (max-width:420px) {
	.contact_h2 {
		font-size: 48px;
	}

	.h2 {
		font-size: 24px;
	}
}