* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  border: none;
  list-style: none;
  background: 0 0
}

.h2 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-family: MyCustomFont, sans-serif;
  font-style: normal;
  font-weight: 467;
  font-size: 32px;
  line-height: 54px;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #fff;
  max-width: 684px
}

h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #fff
}

h6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #fff
}

p {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff
}

body,
html {
  background: #000
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif
}

@media (min-width: 768px) and (max-width: 1430px) {
  h2 {
    font-size: 64px;
    line-height: 78px;
    max-width: 684px
  }
}

@media (max-width: 768px) {

  h2 {
    font-size: 36px;
    /*line-height: 78px;*/
    max-width: 684px;
    line-height: normal;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }
}