@import url('./range-multiple.css');
@import url('./boxes.css');

#faq {
	padding: 0 0 20px;
}

.faq_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
  font-family: Arial, sans-serif;
	color: #fff;
	background-color: #000;
}

.faq-item {
	width: 318px;
	border: 2px solid #ffd61e;
	border-radius: 14px;
}

.faq_container .faq-item {
	width: unset;
}

.faq-question {
	display: flex;
	margin-bottom: 5px;
	padding: 15px 35px 15px 15px;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.faq-question p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 28px;
	color: #fff
}

.faq-answer {
  display: none;
	max-width: 90%;
	padding: 0 15px 45px;
}

.toggle-icon {
	font-size: 20px;
	color: #f0b600;
	transition: .3s
}

.faq-question.active .toggle-icon {
	transform: rotate(90deg);
	transition: .3s
}

.faq-answer select {
	appearance: none;
	position: relative;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ffc400;
	background-color: #333;
	color: #fff;
	height: 50px;
}

.faq-answer input[type=range] {
	position: absolute;
	appearance: none;
	width: 222px;
	left: 35px;
	top: 17px;
}

.faq-answer input[type=range]::-webkit-slider-runnable-track,
.faq-answer input[type=range]::-ms-track,
.faq-answer input[type=range]::-moz-range-track {
	appearance: none;
	height: 1px;
}

.faq-answer input[type=range]::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	margin-top: -22px;
	border-radius: 50%;
	background-color: #fff;
	pointer-events: auto;
}

@media (max-width:768px) {
  .faq-question p {
		font-size: 22px
	}
}