/*-------------Gallery----------------*/

.galleria {
	display: none;
}

@media (max-width: 768px) {
	.galleria {
		display: flex;
		width: 100%;
		min-height: 646px;
		flex-direction: column;
	}
	
	.galleria__left,
	.galleria__right {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.galleria__item .galerria__img {
		object-fit: cover;
	}

	.galleria__left .galleria__item:nth-child(1) img {
		content: url('../../img/gallery1.png');
	}

	.galleria__left .galleria__item:nth-child(2) img {
		content: url('../../img/gallery2.png');
	}

	.galleria__right .galleria__item:nth-child(1) img {
		content: url('../../img/gallery3.png');
	}

	.galleria__right .galleria__item:nth-child(2) img {
		content: url('../../img/gallery4.png');
	}

	.galleria__right .galleria__item:nth-child(3) img {
		content: url('../../img/gallery5.png');
	}
}

@media (max-width: 520px) {
	.galleria__img {
		width: 320px;
		height: 240px;
	}

	.galleria__left .galleria__item:nth-child(1) img {
		content: url('../../img/gallery1-mini.png');
	}

	.galleria__left .galleria__item:nth-child(2) img {
		content: url('../../img/gallery2-mini.png');
	}

	.galleria__right .galleria__item:nth-child(1) img {
		content: url('../../img/gallery3-mini.png');
	}

	.galleria__right .galleria__item:nth-child(2) img {
		content: url('../../img/gallery4-mini.png');
	}

	.galleria__right .galleria__item:nth-child(3) img {
		content: url('../../img/gallery5-mini.png');
	}
}

/*-------------Gallery----------------*/