.range__contianer {
	position: relative;
}

.range__track {
	width: 222px;
	height: 2px;
	margin: 33px auto 25px 15px;
	background-color: #7b6d6d;
}

.price-range {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.price-range span {
	padding: 10px 20px;
	border-radius: 50px;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: -.05em;
	color: #fff;
}

