
.text_box textarea {
	display: flex;
	width: 100%;
	min-height: 620px;
	padding: 36px 32px;
	flex-direction: row;
	align-items: flex-start;	
	border: 1px solid #c5c6cc;
	border-radius: 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #fff;
	resize: none;
}

@media (max-width: 500px) {
	.text_box textarea {
		font-size: 20px;
	}
}